* {
    margin: 0;
    padding: 0;
}
body {
    font-family: sans-serif;
}

.navbar-nav li {
    padding: 0 10px;
}
.navbar-nav a {
    color: #202020 !important;
    font-weight: 650;
    float: right;
    text-align: left;
}

.navbar-toggler {
    outline: none !important;
}


/*** Banner Section****/

#banner {
    color: #1a1919;
    min-height: 90vh;
    background-color: white;
}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
}


/*** Services Section****/

.services-img {
    /* width: 100px;
    margin-top: 20px; */
    object-fit: cover;
    max-height: 200px;
}
.services {
    padding: 20px;
    text-align: justify;
}
.services h4 {
    padding: 5px;
    margin-top: 25px;
}
.services-title {
    padding: 5px;
    margin-top: 25px;
}


/*** About us Section****/

#about-us {
    background-color: #0000cc08;
    padding: 30px 0px 30px 0px;
}

.about-us-title {
    font-size: 30px;
    font-weight: 600;
    margin-top: 8%;
}
#about-us ul li {
    margin: 10px 0px;
}
#about-us ul {
    margin-left: 25px;
}

/*** Testimonials Section****/


#testimonials {
    padding: 140px 0px 0px 0px;
    /* margin: 100px; */
}

.testimonials {
    border-left: 4px solid #0000cc;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-detail {
    display: inline-block;
    font-size: 12px;
}

#testimonials .btn-primary {
    box-shadow: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #0000cc, #0000cc);
}

#testimonials .col-md-2 {
    padding-top: 10%;

}


/*** Footer Section****/
#footer {
    background-color: #111e6c;
    color: white;
}
#footer img{
    width: 100%;
}

hr {
    max-width: 60%;
    margin: auto;
    border: 0;
    border-top: .5px solid ;
    background-color: #ffffff41;
}

#logo-container img {
    max-height: 50px;
    max-width: 130px;
    margin: 15px;
}

.icon>svg {
    width: 3rem;
    height: 3rem;
}