<section id="footer">
    <img src="../assets/images/white_curve-update2 - Copy.png" />
    <div class="container">
        <div class="row">
           
            <div class="col-md-6 footer-box">
                <p><b>Contact Us</b></p>
                <p>Mobile 10X Building 28/1650D Govt.Cyberpark, Kerala 673016</p>
                <p>+91 8129537178</p>
                <p>info@codeappan.com</p>
            </div>
            <div class="col-md-6 d-flex align-items-end justify-content-end">
                <p class="copyright">© 2020 · <a href="/">codeappan</a> · All rights reserved </p>
            </div>
            
        </div>
        
       
    </div>
  </section>